<div class='pull-right'>
	<ul class="info-menu right-links list-inline list-unstyled">
		<li class="profile">
			<a href="#" data-toggle="dropdown" class="toggle">
				<img src="../../static/data/profile/profile.png" th:src="@{/data/profile/profile.png}" alt="user-image" class="img-circle img-inline"/>
				<span>Jason Bourne <i class="fa fa-angle-down"></i></span>
			</a>
			<ul class="dropdown-menu profile animated fadeIn">
				<li>
					<a href="#settings">
						<i class="fa fa-wrench"></i>
						Settings
					</a>
				</li>
				<li>
					<a href="#profile">
						<i class="fa fa-user"></i>
						Profile
					</a>
				</li>
				<li>
					<a href="#help">
						<i class="fa fa-info"></i>
						Help
					</a>
				</li>
				<li class="last">
					<a href="ui-login.html">
						<i class="fa fa-lock"></i>
						Logout
					</a>
				</li>
			</ul>
		</li>
		<li class="chat-toggle-wrapper">
			<a href="#" data-toggle="chatbar" class="toggle_chat">
				<i class="fa fa-comments"></i>
				<span class="badge badge-warning">9</span>
			</a>
		</li>
	</ul>
</div>