<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">

<head>
	<title>运营商管理</title>
	<link href="../../static/assets/css/app.css" th:href="@{/assets/css/app.css}" rel="stylesheet" type="text/css"/>
	<link href="../../static/assets/plugins/datatables/css/jquery.dataTables.css" th:href="@{/assets/plugins/datatables/css/jquery.dataTables.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>

<div layout:fragment="pageTitle">
	<div class="page-title">
		<h2>运营商</h2>
	</div>
</div>
<div layout:fragment="content">
	<section class="box ">
		<div class="row-fluid">
			<div class="span12">
				<form>
					<fieldset>
						<legend>查询</legend>
						<div id="nameFilter"></div>
					</fieldset>
				</form>
			</div>
		</div>

		<table id="listTable" dt:table="true" dt:filterplaceholder="none"
		       dt:theme="bootstrap3" class="table table-striped table-bordered table-condensed">
			<thead dt:fixedOffsetTop="40" dt:scroller="true">
			<tr>
				<th>序号</th>
				<th dt:filterable="true" dt:selector="nameFilter">名称</th>
				<th>编码</th>
				<th>创建时间</th>
				<th>金额</th>
			</tr>
			</thead>
			<tbody>
			<tr th:each="data : ${dataList.content}">
				<td th:text="${data?.id}">1</td>
				<td th:text="${data?.name}">Doe</td>
				<td th:text="${data?.code}">John</td>
				<td th:text="${data?.createTime}">John</td>
				<td th:text="${data?.id}">John</td>
			</tr>
			</tbody>
		</table>
	</section>
</div>

</body>
</html>