<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:dt="http://www.thymeleaf.org/dandelion/datatables"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/mainLayout">

<head>
	<title>运营商管理</title>
	<link href="../../static/assets/css/app.css" th:href="@{/assets/css/app.css}" rel="stylesheet" type="text/css"/>
	<link href="../../static/assets/plugins/datatables/css/jquery.dataTables.css" th:href="@{/assets/plugins/datatables/css/jquery.dataTables.css}" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>

<div layout:fragment="pageTitle">
	<div class="page-title">
		<h2>运营商</h2>
	</div>
</div>
<div layout:fragment="content">
	<section class="box ">
		<table id="listTable" dt:table="true"  dt:url="@{/operators/list}"
		       dt:serverSide="true" dt:pagination="true" dt:export="pdf,csv,xls,xlsx,xml"  class="display">
			<thead dt:scroller="true">
			<tr>
				<th dt:property="id">序号</th>
				<th dt:property="name">名称</th>
				<th dt:property="code">编码</th>
				<th dt:property="createTime">创建时间</th>
				<th dt:property="id">金额</th>
			</tr>
			</thead>
		</table>
	</section>
</div>

</body>
</html>